

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color: rgb(198, 206, 214);
    padding: 4px;
    color: #202020;
  }

h1, h2 {
    color:rgb(3, 5, 75);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

/* dont want the default border 1px for every picture,
  so, any image inside the header "header img"
  or, "header > img" for any image inside the header */ 
/* changed to #headshot*/
#headshot {
  border: 1px solid lightslategray; 
  padding: 2px;
  margin: 8px;
  border-radius: 8px;
  max-width: 150px;
}

.experience {
  border: inset 1px;
  margin-bottom: 4px;
  padding: 4x;
  background-color: white;
  color: #222;
}

.experience .title {
  font-weight: bold;

}

footer {
  background-color: #202020;
  color: lightblue;
  text-align: center;
  padding: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
