

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color: rgb(198, 206, 214);
    padding: 4px;
    color: #202020;
  }

h1, h2 {
    color:rgb(3, 5, 75);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

/* dont want the default border 1px for every picture,
  so, any image inside the header "header img"
  or, "header > img" for any image inside the header */ 
/* changed to #headshot*/
#headshot {
  border: 1px solid lightslategray; 
  padding: 2px;
  margin: 8px;
  border-radius: 8px;
  max-width: 150px;
}
/* class */
.experience {
  border: inset 1px;
  margin-bottom: 4px;
  padding: 4x;
  background-color: white;
  color: #222;
}

.experience .title {
  font-weight: bold;
}

footer {
  background-color: #202020;
  color: lightblue;
  text-align: center;
  padding: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#menu li {  /* li is list items; aren't direct children so < isnt going to be used */
  display: inline;
  padding: 8px;
  background-color: rgb(59, 59, 59);
  color: white;
}

#menu li a { /* a is for anchor tag */
  color: white !important; /*!important is an override */
  text-decoration: none;
}

#menu li.active { /* space: set active inside of list... no space, so its telling us to set properties to any list items that have the class of active (active page) */  
  background-color: darkslateblue;
}

#menu { /*buttons moving to right side of page */
  float: right;
}

header #headshot, header #siteName, header #menu {
  display: inline;  /*changes header to be on same line as button menu */
  vertical-align: middle;   /*make them algined with header line */
}